* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    transform: scale(1, 0.9);
}

.logo img{
    width: 300px;
    height: 100%;
}

hr{
    border: solid;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.navbar ul{
    display: flex;
    background-color: rgb(0, 93, 170);
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
}

.navbar ul li{
    list-style: none;
    padding: 10px;
}

.website{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

.searchbar{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px;
    padding-left: 20px;
    grid-column: 2/4;
}

.searchbar input{
    height: 30px;
    border-radius: 10px;
    padding: 8px;
    border: solid;
    border-color: rgb(0, 93, 170);
    width: 100%;
}

.navbar{
    grid-column: 1/4;
    min-width: 200px;
}

.construction{
    grid-column: 1/4;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    min-height: 100vh;
}

.footer{
    grid-column: 1/4;
    background-color: rgb(0, 93, 170);
}

.footer ul{
    display: flex;
    flex-direction: row;
}

.footer ul li{
    margin: 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 22px;
    color: white;
    list-style: none;
    grid-column: 1/4;
}

.footer .bottom{
    color: white;
    margin: 5px;
    margin-left: 10px;
    list-style: none;
    grid-column: 1/4;
}

.footer ul li a{
    color: white;
    text-decoration: none;
}

.container{
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form{
    background-color: rgb(241, 241, 241);
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    border: 5px solid rgb(0, 93, 170);
}

form{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

form .box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

form input{
    width: 70%;
    height: 100%;
}

input[type=submit]{
    min-height: 50px;
}

label{
    margin-top: 10px;
}

textarea{
    width: 90%;
    height: 200px;
}

h4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

h5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-display: 30px;
    margin-bottom: 10px;
}

form input[type=text]{  
    padding: 5px;
}

form textarea[type=text]{
    padding: 5px;
}