* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    transform: scale(1, 0.9);
}

.logo img{
    width: 300px;
    height: 100%;
}

hr{
    border: solid;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.navbar ul{
    display: flex;
    background-color: rgb(0, 93, 170);
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
}

.navbar ul li{
    list-style: none;
    padding: 10px;
}

.images img{
    margin-left: 15px;
    max-height: 270px;
    height: 100%;
    width: auto;
}

.images{
    grid-column: 1/4;
    display: flex;
    flex-wrap:nowrap;
    overflow-x: scroll;
    width: 100%;
    height: auto;
}

.images .price p{
    display: flex;
    margin-left: 15px;
    font-size: 23px;
}

.images .star{
    margin-left: 15px;
    margin-bottom: 10px;
}

.images .title a{
    display: flex;
    margin-left: 15px;
    color: rgb(0, 93, 170);
    text-decoration: none;
}

.images .title a:hover{
    text-decoration: underline;
}

.checked{
    color: orange;
}

.featured h1{
    font-family: Arial, Helvetica, sans-serif;
}

.website{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

.searchbar{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px;
    padding-left: 20px;
    grid-column: 2/4;
}

.searchbar input{
    height: 30px;
    border-radius: 10px;
    padding: 8px;
    border: solid;
    border-color: rgb(0, 93, 170);
    width: 100%;
}

.navbar{
    grid-column: 1/4;
    min-width: 200px;
}

.featured{
    grid-column: 1/4;
    padding: 13px;
}

.title-image{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
}

.title-image img{
    max-width: 100%;
    height: auto;
}

.membership-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    grid-column: 1/3;
}

.membership-table img{
    max-width: 325px;
}

.membership-table .img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.membership-table .table{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.membership-table .table span{
    color: rgb(102, 215, 113);
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.membership-table .table i{
    color: rgb(156, 156, 156);
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.membership-table .table p{
    font-size: 19px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.membership-table .executive{
    background-color: rgb(238, 238, 238);
    box-shadow: rgb(0, 0, 0);
    grid-column: 1/2;
    margin-right: 10px;
}

.membership-table .gold{
    background-color: rgb(238, 238, 238);
    box-shadow: rgb(0, 0, 0);
    grid-column: 2/3;
    margin-right: 10px;
}

.membership-table .grey{
    background-color: rgb(223, 222, 222);
}

.membership-table .content{
    padding: 20px;
    padding-bottom: 5px;
}

.footer{
    grid-column: 1/4;
    background-color: rgb(0, 93, 170);
}

.footer ul{
    display: flex;
    flex-direction: row;
}

.footer ul li{
    margin: 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 22px;
    color: white;
    list-style: none;
    grid-column: 1/4;
}

.footer .bottom{
    color: white;
    margin: 5px;
    margin-left: 10px;
    list-style: none;
    grid-column: 1/4;
}

.footer ul li a{
    color: white;
    text-decoration: none;
}

.signup{
    margin-top: 10px;
    grid-column: 3/4;
    grid-row: 6/8;
}

.signup form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
}

.signup form input:nth-of-type(1){
    margin-bottom: 15px;
    margin-top: 10px;
}

.signup form label{
    margin-bottom: 5px;
}

.signup form input{
    width: 95%;
}

.signup form input[type=text]{  
    padding: 5px;
}

.signup form textarea[type=text]{
    padding: 5px;
}

.signup form .prayer textarea{
    width: auto;
    height: 100%;
    margin-right: 15px;
}

.signup .prayer{
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
}

.signup h2{
    padding-bottom: 10px;
}

.membership-title h2{
    margin-top: 10px;
    margin-left: 15px;
}

@media(max-width: 850px){
    .title-image{
        height: auto;
        width: 100%;
    }

    .membership-table img{
        width: 100%;
        height: auto;
    }

    .membership-table{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: auto;
        height: 100%;
    }

    .membership-table .table{
        width: 100%;
    }

    .membership-table .gold{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .membership-table .executive{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 20px;
    }

    .signup{
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media(max-width: 1500px){
    .membership-table{
        grid-column: 1/4;
    }
    
    .signup{
        margin-left: 15px;
        margin-right: 15px;
        grid-column: 1/4;
        grid-row: 8/9;
    }
}